extends layout2

block body
  body(class="forum-#{forumId} topic-#{idJvf}")
    .sheet
      include ./includes/head.jade
      .content
        h1.page-title.page-title--topic
          != title
          .mobile-menu
            .mobile-menu__opener
              .mobile-menu__opener-icon
            .mobile-menu__items
              unless isFavorite
                span.js-favorite-toggle.js-favorite-toggle-label.mobile-menu__item(data-action="add") Mettre en favoris
              else
                span.js-favorite-toggle.js-favorite-toggle-label.mobile-menu__item(data-action="delete") Retirer des favoris
              a.mobile-menu__item(href="/#{urlJvc}" target="_blank") Ouvrir sur JVC
        .pagination-topic.pagination-topic--top
          unless isLocked
            .pagination-topic__action-button.pagination-topic__action-button--post
              span.js-go-to-form.button.button--raised.button--cta.button--scale Répondre
          include ./includes/topicPagination.jade
        .messages-list
          script var messages = []
          include ./includes/topicMessages.jade
        .pagination-topic.pagination-topic--bottom
          .pagination-topic__action-button
            a.button.button--scale(href="/#{forumId}-#{forumSlug}") Retour
              span.pagination-topic__action-button-additional-text  forum
          include ./includes/topicPagination.jade
        unless isLocked
          form.js-form-post.form.form--touches-bottom.form--with-container
            .form__actions-mobile
              button.button-mobile-post(type="submit" tabindex="4")
                .button-mobile-post__visible
                  .button-mobile-post__icon
            .form__container
              .form__draft Brouillon sauvegardé.
                span.form__draft-recover  Récupérer
              .form__errors
                p
              textarea.form__textarea(placeholder="Écrivez votre #{superlative} message" tabindex="1")
            .form__actions-desktop
              .form__action
              .form__action.form__action--submit
                input.button.button--raised.button--cta.button--large.button--scale(type="submit" value="Poster" tabindex="4")
              .form__action
          .js-go-to-form.fab-post
            .fab-post__inner
              .fab-post__icon
        else
          .card
            .card__header Sujet verrouillé
            .card__body= lockRationale
      aside.aside
        .aside__top-buttons
          unless isFavorite
            span.js-favorite-toggle.aside__top-button.aside__top-button--favorite(data-action="add")
              span.js-favorite-toggle-label.aside__top-button-label Mettre en favoris
          else
            span.js-favorite-toggle.aside__top-button.aside__top-button--unfavorite(data-action="delete")
              span.js-favorite-toggle-label.aside__top-button-label Retirer des favoris
          a.aside__top-button.aside__top-button--open-jeuxvideocom(href=urlJvc target="_blank")
            span.aside__top-button-label Ouvrir sur JVC
        .js-favorites
          .js-favorites-forums.aside__menu.menu
            span.menu__item.menu__item--blank-state Aucun forum favori
          .js-favorites-topics.js-slider.aside__menu.menu.slider
            span.menu__item.menu__item--blank-state Aucun topic favori
